/* Header Container */

.container{
    width: 100vw;
    height: 7vh;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.container::after{
    content: '';
    clear:both;
    display:block;
}

.container-img{
    width: 30%;
    top:0;
    right: 0;
    position: absolute;
    padding: 1rem;

}

.container-img__brand{
    width: 100%;
}

.menu{
    left: 0;
    position: absolute;
    background-color: var(--primary-color);
    clip-path: circle(0px at top left);
    transition:clip-path ease-in-out 700ms;
    overflow: hidden;
}

.site-nav-open{
    height: auto;
    clip-path:circle(150% at top left);

}

.menu__list{
    list-style: none;
}

.menu__list--element{
    padding: 2.2rem;
    border-bottom: 1px solid rgba(255, 255,255, 0.2);
}

.menu__list--element:focus,
.menu__list--element:hover{
    background-color: var(--primary-color-hov);
}

.menu__list--element a{
    font-size: 1.5rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.menu-toggle{
    padding: 1.8rem;
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
}

.menu-toggle--open .hamburger{
    transform: rotate(45deg);
}

.menu-toggle--open .hamburger::before{
    opacity:0;
}

.menu-toggle--open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #000000;
    height: 3px;
    width: 2.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.hamburger::before{
    transform: translateY(-6px);
}

.hamburger::after{
    transform: translateY(3px);
}

/* Hero */

.hero{
    margin: 40px 0;
    width: 100vw;
}

/* Section divisor */

.divisor{
    width: 80vw;
    height: 7vh;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 40px;
}

.divisor__line-left,
.divisor__line-right{
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.divisor__image{
    width: 80%;
    grid-column-start:2;
    grid-column-end:3;
}

.divisor__line-right{
    grid-column-start:3;
    grid-column-end:4;
}

/* Section - GS Trophy */

.section-trophy{
    width: 80vw;
    margin: auto;
}

.section-trophy__cabecera--titulo{
    width: 80%;
    margin: auto;
    font-size: 2rem;
    font-family: var(--primary-font);
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
}

.section-trophy__logo{
    width: 50%; 
    display: block;
    margin: 2rem auto;
}

.section__trophy__parrafo--texto{
    font-size: 1.2rem;
    font-family: var(--secundary-font);
    text-align: justify;
    margin-bottom: 40px;
}

/* Section - GS Trophy Qualifier GT 2021 */

.section-qualifier__video{
    width: 100vw;
    height: 40vh;
    margin: 40px 0;
}

.paragraph-trophy{
    width: 80%;
    margin: auto; 
    padding-bottom: 40px;    
}

.divisor__title__content{
    font-family: var(--primary-font);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 1rem;
}

/* Section - Reglamentos */

.container-rules{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 6fr;
    grid-gap: 10px 10px;
    justify-items:center;
    align-items:center;
    position: relative;
}

.float-pop-up{
    top: 10rem;
    position: absolute;
    display: none;
}
.container-rules__img--1{
    grid-column-start:1;
    grid-column-end: 2;
}

.container-rules__img--2{
    grid-column-start:2;
    grid-column-end: 3;
}

.paragraph{
    display:flex;
    width: 100%;
    padding: 2rem;
}
.paragraph__number{
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 100rem;
    font-size: 2rem;
    font-family: var(--primary-font);
    color: #ffffff;
    text-align: center;

}

.paragraph__title{
    font-size: 1rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.paragraph__number--color{
    background-color: #f1c102;
}

/* Section - Pop up dialog box for rules*/

.pop-up{
    width: 80vw;
    margin: auto;
    background-color: var(--primary-color);
    opacity: 0.8;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0.8;
    position: relative;
}

.pop-up__title{
    width: 80%;
    height:auto;
    margin: auto;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 3rem;

}

.pop-up__paragraph{
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
    font-family: var(--secundary-font);
    color: #ffffff;
    padding: 1.5rem 0;
}

.pop-up__close{
    margin: 2rem 2rem 1rem;
    top:0;
    right:0;
    position: absolute;
}

.pop-up__close--figure,
.pop-up__close--figure::after{
    content: '';
    display: block;
    background: var(--secundary-color);
    height:3px;
    width: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.pop-up__close--figure{
    transform:rotate(50deg);
}

.pop-up__close--figure::after{
    transform:rotate(-100deg);
    
}

/* Section - podio de ganadores*/

.divisor__line-left--color,
.divisor__line-right--color{
    background-color: #f1c102;
}
